@{
    ViewBag.Title = "Access Denied";
}

<div class="text-center mt-2">
    <img src="~/images/noaccess.png" style="width: 300px; height: 300px" alt="no-access">

</div>

<div class="alert alert-danger mt-5">
    <h3 class="text-center">Access Denied</h3>
    <hr>
    <h6>Sorry you are not authorized to access this resource!</h6>
</div>


